botocore
boto3

coverage==4.5.4
placebo
mock
pytest
pytest-forked
pytest-mock
pytest-xdist
pytest-ansible

Cython==0.29.36, --no-build-isolation
pyyaml==5.4.1, --no-build-isolation

# Needed for ansible.utils.ipaddr in tests
netaddr
# Sometimes needed where we don't have features we need in modules
awscli
# Used for comparing SSH Public keys to the Amazon fingerprints
cryptography
